body {
  margin: 0;
  background-color: white;
  width: 100vw;
  display: grid; }
  body h1 {
    font-family: "Reenie Beanie", "Montserrat", sans-serif; }

header h1 {
  color: black;
  font-size: 60px;
  margin: 0; }
  @media only screen and (max-width: 752px) {
    header h1 {
      font-size: 55px; } }
  @media only screen and (max-width: 334px) {
    header h1 {
      font-size: 45px; } }

header nav a {
  color: black; }

main {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  main h1 {
    color: black;
    font-style: italic;
    font-family: "Reenie Beanie", "Montserrat", sans-serif;
    font-size: 60px; }
  main .home-page {
    margin: 200px auto;
    width: 40vw; }
  main #contact-links #linkedin {
    padding: 10px; }
    main #contact-links #linkedin:hover span {
      display: inline-block; }
    @media only screen and (max-width: 675px) {
      main #contact-links #linkedin {
        padding: 0px;
        text-decoration: underline; }
        main #contact-links #linkedin:hover span {
          display: none; } }
  main #contact-links #phone {
    padding: 10px; }
    main #contact-links #phone:hover span {
      display: inline-block; }
    @media only screen and (max-width: 675px) {
      main #contact-links #phone {
        padding: 0px;
        text-decoration: underline; }
        main #contact-links #phone:hover span {
          display: none; } }
  main #contact-links #email {
    padding: 10px; }
    main #contact-links #email:hover span {
      display: inline-block; }
    @media only screen and (max-width: 675px) {
      main #contact-links #email {
        padding: 0px;
        text-decoration: underline; }
        main #contact-links #email:hover span {
          display: none; } }
  main #contact-links #resume {
    padding: 10px; }
    main #contact-links #resume:hover span {
      display: inline-block; }
    @media only screen and (max-width: 675px) {
      main #contact-links #resume {
        padding: 0px;
        text-decoration: underline; }
        main #contact-links #resume:hover span {
          display: none; } }
  main #contact-links #work {
    padding: 10px; }
    main #contact-links #work:hover span {
      display: inline-block; }
    @media only screen and (max-width: 675px) {
      main #contact-links #work {
        padding: 0px;
        text-decoration: underline; }
        main #contact-links #work:hover span {
          display: none; } }
  main #contact-links span {
    display: none; }
  main #contact-links a {
    display: inline-block;
    text-decoration: none;
    color: black; }
    main #contact-links a:hover {
      color: black; }
    @media only screen and (max-width: 752px) {
      main #contact-links a {
        font-size: 15px; } }
    @media only screen and (max-width: 334px) {
      main #contact-links a {
        font-size: 12px; } }
  main .projects {
    margin-bottom: 100px; }
  @media only screen and (max-width: 752px) {
    main #good-things h1 {
      font-size: 35px; } }
  @media only screen and (max-width: 334px) {
    main #good-things h1 {
      font-size: 20px; } }
  @media only screen and (max-width: 826px) {
    main #good-things h1 {
      font-size: 35px; } }

footer {
  color: white;
  font-size: 9px; }
