html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: white;
  width: 100vw;
  display: grid; }
  body h1 {
    font-family: "Reenie Beanie", "Montserrat", sans-serif; }

header h1 {
  color: black;
  font-size: 60px;
  margin: 0; }
  @media only screen and (max-width: 752px) {
    header h1 {
      font-size: 55px; } }
  @media only screen and (max-width: 334px) {
    header h1 {
      font-size: 45px; } }

header nav a {
  color: black; }

main {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  main h1 {
    color: black;
    font-style: italic;
    font-family: "Reenie Beanie", "Montserrat", sans-serif;
    font-size: 80px;
    margin-bottom: 0; }
  main .home-page {
    width: 100vw;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .home-page .line {
      height: .1em;
      width: 30vw;
      background: black;
      margin: 10px auto; }
    main .home-page h2 {
      margin-bottom: 1em; }
  main .main-link {
    text-decoration: none;
    color: black; }
    main .main-link:hover {
      color: black;
      text-decoration: underline; }
  main .page-links {
    font-size: 30px;
    color: black; }
  main #contact-links a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 60px; }
    @media only screen and (max-width: 334px) {
      main #contact-links a {
        font-size: 20px; } }
  main #projects {
    margin-bottom: 100px;
    min-height: 120vh; }
    @media only screen and (max-width: 752px) {
      main #projects .project {
        display: flex;
        flex-direction: column-reverse; } }
    main #projects .project hr {
      margin-top: 0; }
    main #projects .project #see-more {
      text-decoration: underline;
      cursor: pointer; }
    main #projects .project .chef-img img {
      min-height: 20vh; }
  main #about {
    min-height: 100vh; }

footer {
  color: white;
  font-size: 9px; }
